<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Onenotes | Dashboard</title>
    <link rel="stylesheet" href="css/dashboard.css">
    <link rel="stylesheet" href="css/topbar2.css">
</head>

<body>
    <div class="topsection">
        <p class="topheadline">Onenotes</p>
        <div class="links">
            <a href="/" class="link" > Home </a>
            <a href="/logout" class="link"> Logout</a>
        </div>
    </div>

<% if(arr.length===0) { %>
    <h2 class="createnew">No note created! Starting creating now</h2>
<% } else{ %>

    <% for(var i = ((arr.length)-1); i >= 0; i--) { %>
        <% if(arr[i].title || arr[i].data) { %>
            <div class="notes">
                <a href=/notes/<%= i %> >
                    <div class="card">      
                        <div class="title"> <%= arr[i].title %> </div>
                        <div class="note"> <%= arr[i].data %> </div>
                    </div>
                </a>
            </div>
        <% } %>  
    <% } %>   
<% } %>
<div class="footer"></div>
<a href=/notes/<%= arr.length %> ><div class="icon">+</div></a>
       
</body>
</html>